
.btn {
    margin-top: 35px;
    height: 50px;
    font-size: 1rem;
    padding: 1px 3px;
    width: 10rem;
    height: 2rem;
    margin-left: 70px;
    border-radius: 10px;
}

.themebtn {
    padding: 2px 2px;
    font-size: 20px;
    border: none;
    width: 10rem;
    height: 2rem;
    border-radius: 13px;
    text-align: center
}

#light {
    position: absolute;
    top: 10;
    right:10;
}

#dark {
    position: absolute;
    top: 45;
    right: 10;
}